body{
	background-color: #191919;
	font-family: 'Oxygen', sans-serif;
}
h1{
	color: burlywood;
}
h3{
	color: crimson;
}
h4{
	color: coral;
}
p{
	color: white;
}
a{
	color: lightskyblue;
	text-decoration: none;
}